@{
    ViewData["Title"] = "Home Page";
}

@section Scripts{

    <script src="~/js/jquery-ui.min.js"></script>
    <script src="~/js/jquery.slimscroll.min.js"></script>
    <script src="~/js/jquery.flot.js"></script>
    <script src="~/js/jquery.flot.resize.js"></script>
    <script src="~/js/jquery.flot.pie.js"></script>
    <script src="~/js/curvedLines.js"></script>
    <script src="~/js/index.js"></script>
    <script src="~/js/metisMenu.min.js"></script>
    <script src="~/js/icheck.min.js"></script>
    <script src="~/js/jquery.peity.min.js"></script>
    <script src="~/js/sparkline/index.js"></script>
    <script src="~/js/sweet-alert.min.js"></script>
    <script src="~/js/jquery.validate.min.js"></script>
    <script src="~/js/homer.js"></script>
    <script>
        $(function () {
            $.extend($.validator.messages, {
                required: "这是必填字段"
            });

            $.validator.addMethod("checkpn", function (value, element, params) {
                var checkpn = /^1([358][0-9]|4[579]|66|7[0135678]|9[89])[0-9]{8}$/g;
                return this.optional(element) || (checkpn.test(value));
            }, "请输入有效的手机号码");

            $("#form").validate({
                rules: {
                    phone_number: {
                        required: true,
                        checkpn: true
                    }
                }, messages: {
                    required: "这是必填字段"
                },
                submitHandler: function (form) {
                    swal({
                        title: "成功",
                        text: "",
                        type: "success"
                    });
                }
            });
        });
    </script>
}

<link rel="stylesheet" href="~/css/metisMenu.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/animate.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/sweet-alert.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/bootstrap.css" asp-append-version="true" />

<!-- App styles -->
<link rel="stylesheet" asp-fallback-href="~/css/pe-icon-7-stroke.css" asp-append-version="true" />
<link rel="stylesheet" asp-fallback-href="~/css/helper.css" asp-append-version="true" />
<link rel="stylesheet" asp-fallback-href="~/css/style.css" asp-append-version="true" />

<div class="fixed-navbar fixed-sidebar">

    <!-- Simple splash screen-->
    <div id="header">
        <div class="color-line">
        </div>
        <div id="logo" class="light-version">
            <span>
                用户自服务门户
            </span>
        </div>
        <nav role="navigation">
            <div class="header-link hide-menu">
                <i class="fa fa-bars"></i>
            </div>
            <div class="navbar-right">
                <ul class="nav navbar-nav no-borders">
                    <li class="dropdown">
                        <a href="http://192.168.6.1/oauth/authorize">
                            <i class="pe-7s-upload pe-rotate-90"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <!-- Navigation -->
    <aside id="menu">
        <div id="navigation">
            <ul class="nav" id="side-menu">
                <li>
                    <a href="Index">
                        <span class="nav-label"> 基本信息</span>
                    </a>
                </li>
                <li class="active">
                    <a href="email">
                        <span class="nav-label"> 备用邮箱</span>
                    </a>
                </li>
                <li>
                    <a href="phone">
                        <span class="nav-label"> 手机重置</span>
                    </a>
                </li>
                <li>
                    <a href="reset_password">
                        <span class="nav-label"> 密码重置</span>
                    </a>
                </li>
            </ul>
        </div>
    </aside>

    <!-- Main Wrapper -->
    <div id="wrapper">

        <div class="small-header">
            <div class="hpanel">
                <div class="panel-body">
                    <h2 class="font-light m-b-xs">
                        维护手机信息
                    </h2>
                </div>
            </div>
        </div>

        <div class="content animate-panel">
            <div>
                <div class="row">
                    <div class="col-lg-7">
                        <div class="hpanel">
                            <form role="form" id="form" onsubmit="return false;">
                                <div class="panel-body form-horizontal">
                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">手机号</label>

                                        <div class="col-lg-10">
                                            <input type="text" id="phone_number" name="phone_number" value="18600010002" class="form-control">
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <div class="col-sm-8 col-sm-offset-2">
                                            <button class="btn w-xs btn-success submitWizard" type="submit">验证并更新</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer-->
        <footer class="footer">
            <span class="pull-right">
                Example text
            </span>
            Company 2015-2020
        </footer>
    </div>
</div>